<!DOCTYPE HTML>
<html>
  <meta charset="utf-8">

  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/css/uikit.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/js/uikit.min.js"></script>
  </head>
  <body>
    <style>
      h1{
        font-family: 'Italiana', serif;
      }
      p {
        font-family: 'Open Sans', sans-serif;
      }
      a {
        border-bottom: 1px dashed;
        color: #2D8D9D;
        font-size: 19px;
      }
    </style>
    <div class="uk-container">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
