
<html>
  <meta charset="utf-8">
  <head>
    <title>Agrega tu pokemon</title>
  </head>
  <body>
    <h1>Tenemos que atraparlos a todos, agregalo</h1>

  <p>Reporta un nuevo pokemon.</p>
  <form action="." method="post">
    <p><input type="text" placeholder="name" name="name" required></p>
    <p><input type="text" placeholder="numero de identificacion" name="id" required></p>
    <p><input type="text" placeholder="URL Fotografía de prueba" name="image" required></p>
    <p>
        <select name="type">
            <option value="Grass">Grass</option>
            <option value="Fire">Fire</option>
            <option value="Water">Water</option>
            <option value="Flying">Flying</option>
            <option value="Ghost">Ghost</option>
            <option value="Dragon">Dragon</option>
            <option value="Fairy">Fairy</option>
            <option value="Ground">Ground</option>
            <option value="Poison">Poison</option>
            <option value="Normal">Normal</option>
            <option value="Electric">Electric</option>
        </select>
    </p>

    <p><input type="submit" value="Crea el nuevo pokemon"></p>
  </form>
    <p></p>
  </body>

</html>
